################################################################################
# Este archivo .gitignore ha sido creado magicamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Mindustry-Diamond-Mod/v16/.suo
